$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.form-control {
  height: 42px;
  float: left;
}
.help {
  height: 58px;
}

.table-bordered > tbody > tr > td, {
  vertical-align: middle;
}

.drop-zone {
  width: 100%;
  background: #eee;
  display: inline-block;
  min-height: 42px;
  padding: 5px 0 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  float: left;
}

.tag {
  padding: 10px 10px 5px;
  border: 2px dashed #ddd;
  background: #eee;
  min-height: 42px;
}

.drop-zone .myTag {
  margin-right: 5px;
}

.btn {
  padding: 10px 15px;
}

.myTag {
  padding: 5px 8px;
  border-radius: 4px;
  background: #5bc0de;
  color: #fff;
  display: inline-block;
  margin-bottom: 5px;
  z-index: 2;
  margin-right: 5px;
}

.myTag.helper {
  border: 2px dashed #5bc0de;
  background: #d9edf7;
  color: #5bc0de;
}

.botonera {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 20px;
}

.disableDrop {
  font-style: italic;
  color:#999;
  display:block;
  margin-right: 5px;
  margin-top: 5px;
}

.custom-state-active {
  background: #f9f9f9;
}

@media(max-width:991px){
  .drop-zone {
    min-width: 150px;
  }
  .checkbox-inline + .checkbox-inline {
    margin-left: 0;
    display: block;
  }
}